body{
	font-family: Verdana, Calibri, sans-serif;
	margin: 0px;
	padding: 0px;
}
h1{
	text-align: center;
	color: white;
}
nav > ul{
	margin: 0px;
	padding: 0px;
}
nav li{
	list-style-type: none;
}
nav > ul > li{
	float: left;
}
.submenu{
	display: none;
}
nav input[type=checkbox]{
	display: none;
}
.menu-mobile{
	display: none;
}
nav{
	width: 100%;
	background-color: grey;
}
nav > ul > li{
	float: left;
	position: relative;
}
nav > ul::after{
	content: "";
	display: table;
	clear: both;
}
nav a{
	display: inline-block;
	text-decoration: none;
}
nav > ul > li > a{
	padding: 20px 30px;
	color: #FFF;
}
nav li:hover .submenu{
	display: inline-block;
	position: absolute;
	top: 100%;
	left: 0px;
	padding: 0px;
	z-index: 100000;
}
.submenu li{
	border-bottom: 1px solid #CCC;
}
.submenu li a{
	padding: 15px 30px;
	font-size: 13px;
	color: #222538;
	width: 270px;
}
nav > ul > li:hover a{
	padding: 15px 30px 20px 30px;
}
.menu-metiers .submenu{
	background-color: RGB(255, 0, 0);
}
.menu-css .submenu{
	background-color: RGB(166, 0, 255);
}
.menu-js .submenu{
	background-color: RGB(17, 255, 0);
}
.submenu li:hover a{
	color: #EEE;
	font-weight: bold;
}
.menu-metiers .submenu li:hover{
	background-color: RGB(255, 100, 0);
}
.menu-css .submenu li:hover{
	background-color: RGB(247, 0, 255);
}
.menu-js .submenu li:hover{
	background-color: RGB(0, 255, 123);
}
nav input[=type=checkbox]:checked ~ ul{
	display: block;
}
@media screen and (max-width : 680px){
	.menu-mobile{
		display: block;
		color: #FFF;
		background-color: rgba(29, 197, 151, 0.97);
		text-align: center;
		padding: 12px 0;
	}
	nav	ul{
		display: none;
	}
}
	nav ul li, nav ul li a{
		width: 100%;
		text-align: center;
	}
	nav ul li a, nav ul li:hover a{
		padding: 10px 0px 10px 0px;
	}
	nav li:hover .submenu{
		display: block;
		position: static;
	}